{{!< default}}
<div class="relative mx-auto">
    <main class="flex-auto">
        {{#post}}
        <article class="mx-auto max-w-3xl px-6 pt-12">
            <header class="flex flex-col gap-y-5 mb-8">
                <h1 class="mb-0 text-3xl md:text-4xl font-headings font-bold leading-tight">
                    {{title}}
                </h1>
                <p class="text-primary/75 text-xl md:text-2xl font-light">{{excerpt}}</p>

                <div class="flex items-stretch gap-x-3 text-sm text-primary/75">
                    <div class="flex flex-wrap items-center shrink gap-3">

                        <div class="flex items-center gap-x-3">
                            {{#foreach authors}}
                            <a href={{url}} class="group block flex-shrink-0">
                                <div class="flex items-center space-x-2">
                                    <div>
                                        {{#if profile_image}}
                                        <img class="inline-block rounded-full my-0 h-8 w-8" src="{{img_url profile_image size=" xs"}}"
                                            alt={{name}} />
                                        {{/if}}
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm font-medium text-primary dark:text-primary-dark my-0">
                                            {{name}}
                                        </p>
                                    </div>
                                </div>
                            </a>
                            {{/foreach}}

                        </div>


                        <div class="flex items-center gap-x-3">
                            <time datetime="{{date format=" YYYY-MM-DD"}}">{{date published_at}}</time>
                            <span class="text-md">·</span>
                            <span>{{reading_time}}</span>
                        </div>
                    </div>

                    <div class="flex justify-end items-center grow shrink-0">
                        {{!--
                        <SocialShareMenu onCopyClick={handleCopyClick} shareOptions={shareOptions} /> --}}
                    </div>
                </div>

                <div class="flex justify-start gap-3 py-2 border-b border-t border-primary/10">
                    {{#foreach tags}}
                    <a href="{{url}}" class="text-xs text-primary hover:text-gray-500">{{name}}</a>
                    {{/foreach}}
                </div>

                <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w, {{img_url
                    feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw" src="{{img_url feature_image size=" xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" class="w-full h-auto !m-0" />
            </header>

            <section
                class="docs prose lg:prose-xl prose-headings:font-headings dark:prose-invert prose-a:break-words max-w-none">
                {{{content}}}
            </section>
        </article>
        {{/post}}
    </main>
</div>