{{#if isSecondary}}
    <ul class="nav" role="menu">
        {{#foreach navigation}}
            <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}">
                    <svg class="icon" role="img" aria-label="{{slug}} icon">
                        <title>{{slug}}</title>
                        <use xlink:href="#{{slug}}"></use>
                    </svg>
                </a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
        {{#foreach navigation}}
            <div class="relative" data-headlessui-state="">
                <button id="headlessui-menu-button-:r1:" type="button" aria-haspopup="true" aria-expanded="false"
                    data-headlessui-state=""><a
                        class="text-slate-500 inline-flex items-center mr-2 px-1 pt-1 text-sm font-medium hover:text-slate-600"
                        href="{{url absolute="true"}}">{{label}}</a>
                </button>
            </div>
        {{/foreach}}
{{/if}}